{% extends "material/base.html" %}
{% block content %}

<style></style>
<div class="showcase container blue lighten-3">
    <div class="row">
        <div class="col 12 m10 offset-ml center">
            <h2>Insurance Predictor </h2>
            <p>ML Web App</p>
            <a href="{{url_for('index')}}" class="btn btn-small blue white-text waves-effect waves-dark">Reset</a>
            <a href="{{url_for('preview')}}" class="btn btn-small white blue-text waves-effect waves-dark">View Dataset</a>
        </div>

    </div>
</div>
<section class="section section-signup">
        <div class="container">
          <div class="row">
           
            <div class="signup-content" style="flex-direction: column; -moz-flex-direction: column; -webkit-flex-direction: column; -o-flex-direction: column; -ms-flex-direction: column; width: 100%">
                <div class="signup-img" style="width: 50%; float: left;">
                    <img src="../static/imgs/signup-img.jpg" alt="signup-img.jpg" width="100%">
                </div>
                <div class="signup-form" style="width: 49%; float: right; margin-left: 1px;">
                    <form action="{{ url_for('analyze')}}" method="POST">
                        <h2>Basic Information</h2>

                            <div class="form-group">
                                <label for="name">Age :</label>
                                <input type="text" name="age" id="age" required style="display: block; width: 100%; border: 1px solid #ebebeb; padding: 11px 20px; box-sizing: border-box; font-family: 'Montserrat'; font-weight: 500; font-size: 13px;" />
                            </div>
                        
                        <div class="form-group">
                                <label for="name">Gender :</label>
                                <select name="sex" >
                                        <option value=""></option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>                                    
                                    </select>
                            </div>
                        
                        <div class="form-group">
                            <label for="address">Body Mass Index :</label>
                            <input type="text" name="bmi" id="bmi" required style="display: block; width: 100%; border: 1px solid #ebebeb; padding: 11px 20px; box-sizing: border-box; font-family: 'Montserrat'; font-weight: 500; font-size: 13px;"/>
                        </div>
                        
                            <div class="form-group">
                                <label for="father_name">Number of Children :</label>
                                <input type="text" name="children" id="children" required style="display: block; width: 100%; border: 1px solid #ebebeb; padding: 11px 20px; box-sizing: border-box; font-family: 'Montserrat'; font-weight: 500; font-size: 13px;"/>
                            </div>

                        
                        
                        <div class="form-group">
                                <label for="name">Smokes :</label>
                                <select name="smoker" style="width: 50px" >
                                        <option value=""></option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>                                        
                                    </select>
                            </div>
                            <div class="form-group">
                                <label for="state">Region :</label>
                                <div>                                    
                                    <select name="region" >
                                        <option value=""></option>
                                        <option value="northwest">NorthWest</option>
                                        <option value="northeast">NorthEast</option>
                                        <option value="southwest">SouthWest</option>                                        
                                        <option value="southeast">SouthEast</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                        </div>
                                                
                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" style="background: #f8f8f8; color: #999; margin-right: 8px; width: 140px; height: 40px; display: inline-block; font-family: 'Poppins'; font-weight: 400; font-size: 13px; padding: 10px; border: none; cursor: pointer;" />
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" style=" background: #2196F3; color: #fff;  width: 140px; height: 40px; display: inline-block; font-family: 'Poppins'; font-weight: 400; font-size: 13px; padding: 10px; border: none; cursor: pointer;" />
                        </div>
                    </form>
                </div>
            </div>             
                     
          
    
            
    
             <div class="col s12 m4 offers">
                <h5>Prediction</h5>
                  <div class="collection" role="alert">
                    <p  class="collection-item active blue">Predicted result {{ result_prediction }} </p>
                </div>       				

              
              </div>
              
            </div>
          </div>
        </div>
      </section>




      {% endblock%}

      {% block scripts %}
      {{super()}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
      <!-- <script type="text/javascript">
           document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, options);
        });
      </script> -->
      
      <script>
          // Or with jQuery
      
        $(document).ready(function(){
          $('select').formSelect();
        });
      </script>
      
      {% endblock %}